---
import Container from "@/components/Common/Container";
import BlobSlideshow from "@/components/Common/BlobSlideshow.astro";
import Parallax from "@/components/Common/Parallax";
import Cut from "../Common/Cut";
import EventTagLink from "@/components/Common/EventTagLink";
---

<Cut
  className="mb-12 flex min-h-[40rem] max-w-full items-center pt-24 pb-6 lg:pt-32"
  bottom="up"
  bgClass="bg-base-content/10"
>
  <Container wide>
    <div class="flex flex-col gap-20 md:grid md:grid-cols-2 md:items-center 2xl:px-32">
      <div class="flex flex-col items-center">
        <div
          class="flex max-w-[40rem] flex-col justify-center gap-8 text-center md:pl-1 md:text-left"
        >
          <h2 class="text-5xl font-bold xl:text-6xl 2xl:text-7xl">
            Together<br />in tech and life
          </h2>

          <div class="text-2xl">Build cool things, share life hacks, and meet kind minds.</div>
          <div class="text-lg">
            With over 2,000 attendees, OKTech is Kaisai's largest English speaking Technology Meetup
            Group.
          </div>
          <div class="mt-2 flex flex-wrap justify-center gap-2 font-mono text-sm md:justify-start">
            <EventTagLink tag="Web Development" />
            <EventTagLink tag="Programming" />
            <EventTagLink tag="Design" />
            <EventTagLink tag="Hardware" />
            <EventTagLink tag="AI" />
            <EventTagLink tag="Frontend" />
            <EventTagLink tag="Backend" />
            <EventTagLink tag="Fullstack" />
            <EventTagLink tag="DevOps" />
            <EventTagLink tag="Security" />
            <EventTagLink tag="Networking" />
            <EventTagLink tag="Picnics" />
          </div>
        </div>
      </div>
      <div>
        <Parallax client:idle className="md:-my-10 md:-mr-10 md:-mb-30 lg:-mr-20">
          <BlobSlideshow
            startTimeOffset={1000}
            images={[
              "/content/events/307265699-led-and-vulnerability-disclosure/gallery/PXL_20250524_0847033052.webp",
              "/content/events/301456891-workshop-like-s3/gallery/IMG_7669.webp",
              "/content/events/307265699-led-and-vulnerability-disclosure/gallery/PXL_20250524_0847554502.webp",
              "/content/events/263532260-hot-summer-hot-topics-osaka-web-dev-and-design-meetup-in-august/gallery/255202.webp",
              "/content/events/299830334-vim-and-noise/gallery/IMG_20240413_1728142.webp",
              "/content/events/299335046-osaka-hanami-2024/gallery/IMG_9924.webp",
              "/content/events/302995505-how-to-present-and-sql/gallery/DSCF0941.webp",
              "/content/events/299455127-wasm-airplanes-and-llm/gallery/IMG_9659.webp",
              "/content/events/308580120-agentic-sentiments/gallery/PXL_20250719_0946379792.webp",
            ]}
          />
        </Parallax>
      </div>
    </div>
  </Container>
</Cut>
