---
import PageLayout from "../../layouts/PageLayout.astro";
import Section from "../../components/Section.astro";
import MemberDetails from "../../components/MemberDetails.astro";
import { members, type Member } from "../../data";

export function getStaticPaths() {
  return members.map((member) => ({
    params: { member: member.id },
  }));
}

const { member: memberId } = Astro.params;
const member = members.find((m) => m.id === memberId) as Member;
---

<PageLayout title={`Member ${member.name}`}>
  <Section>
    <MemberDetails member={member} />
  </Section>
</PageLayout>
