.hover-zoom {
  @apply shadow-md transition-all duration-90 ease-in-out hover:scale-[1.01] hover:shadow-lg;
}

.soft-glass {
  @apply bg-base-100/50 border-base-100/50 rounded-box border p-px transition-all duration-300;
  backdrop-filter: brightness(1.4) saturate(1.3) blur(30px);
}

.soft-glass.no-bg {
  @apply bg-base-100/0 border-base-100/0 border;
  backdrop-filter: none;
}

.btn-glass {
  @apply bg-base-100/0 border-none shadow-none;
  &:hover {
    @apply bg-base-100/90;
  }
}

.glass-card {
  @apply bg-base-100/30 hover:bg-base-100/60 rounded-box overflow-hidden;
}
.glass-border,
.glass-card {
  @apply border-base-100/60 hover:border-base-100/100 border-1 transition-all duration-200;
}

.text-link {
  @apply decoration-base-content/20 hover:decoration-primary-content/90 underline decoration-dotted underline-offset-2 transition-all duration-200;
  &:hover {
    @apply text-primary-content;
  }
}

.fade-overflow {
  @apply overflow-hidden;
  mask-image: linear-gradient(to right, black 80%, transparent 90%);
  -webkit-mask-image: linear-gradient(to right, black 80%, transparent 90%);
}

.fade-out {
  mask-image: linear-gradient(to bottom, black 0%, transparent 98%);
  -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent 98%);
}

.rounded-box-inner {
  --gap: calc(var(--spacing) * 2);
  --radius: calc(var(--radius-box) - var(--gap));
  margin: var(--gap);
  border-radius: var(--radius);
}

.rounded-box-inner-tight {
  --gap: calc(var(--spacing));
  --radius: calc(var(--radius-box) - var(--gap));
  margin-left: var(--gap);
  margin-right: var(--gap);
  margin-top: calc(var(--gap) / 2);
  margin-bottom: calc(var(--gap) / 2);

  &.first{
    border-top-left-radius: var(--radius);
    margin-top: var(--gap);
  }
  &.last{
    border-bottom-left-radius: var(--radius);
    margin-bottom: var(--gap);
  }
}
