---
import MemberSummary from "../components/MemberSummary.astro";
import Section from "../components/Section.astro";
import PageLayout from "../layouts/PageLayout.astro";
import Container from "../components/Container.astro";
import { members } from "../data";
---

<PageLayout title="Community">
  <Section> Just one big list, not separated, includes gallery</Section>
  <Container wide grid>
    {
      members.map((member) => (
        <div>
          <MemberSummary member={member} />
        </div>
      ))
    }
  </Container>
</PageLayout>
