---
import EventSummary from "../components/EventSummary.astro";
import Section from "../components/Section.astro";
import PageLayout from "../layouts/PageLayout.astro";
import Container from "../components/Container.astro";
import { events } from "../data";
---

<PageLayout title="Events">
  <Section> TODO use https://daisyui.com/components/countdown/ </Section>
  <Section
    title="Upcoming Events Countdown with map and image"
    description="We are a team of experienced professionals who are dedicated to providing the best possible solutions to our clients."
    button={{ text: "View Members" }}
  />
  <Section title="All Events" description="TODO SOrting and stuff" />
  <Container wide grid>
    {
      events.map((event) => (
        <div>
          <EventSummary event={event} />
        </div>
      ))
    }
  </Container>
</PageLayout>
