---
import EventSummary from "../components/EventSummary.astro";
import Section from "../components/Section.astro";
import PageLayout from "../layouts/PageLayout.astro";
import Container from "../components/Container.astro";
import { events } from "../data";
import EventsUpcoming from "../components/EventsUpcoming.astro";
import Hero from "../components/Hero.astro";
import SearchBox from "../components/SearchBox.astro";
import EventsFilter from "../components/EventsFilter.astro";
---

<PageLayout title="Events">
  <Section inline title="Events" button={{ text: "Gallery View", href: "/events/gallery" }} />
  <div class="p-12 bg-secondary/20">
    <Container wide>
      <EventsUpcoming />
    </Container>
  </div>
  <!-- <Hero
    slim
    title="Got an Idea?"
    description="We are always looking for presenters!"
    button={{ text: "Contact Us", href: "/about/#contact" }}
  /> -->
  <Container class="py-10">
    <div class="flex items-center justify-between gap-8">
      <EventsFilter />
      <SearchBox />
    </div>
  </Container>
  <Container wide grid>
    {
      events.map((event) => (
        <div>
          <EventSummary event={event} />
        </div>
      ))
    }
  </Container>
</PageLayout>
