---
import Section from "../components/Section.astro";
import Hero from "../components/Hero.astro";
import PageLayout from "../layouts/PageLayout.astro";
import { events } from "../data";
import Container from "../components/Container.astro";
import EventSummary from "../components/EventSummary.astro";
import LandingStats from "../components/LandingStats.astro";
import EventsUpcoming from "../components/EventsUpcoming.astro";
import ImagePlaceholder from "../components/ImagePlaceholder.astro";
import MemberAvatars from "../components/MemberAvatars.astro";
---

<PageLayout>
  <Hero
    title="Welcome to OKWireframe"
    description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quos."
  />
  <Section wide class="bg-secondary/20">
    <EventsUpcoming />
  </Section>
  <Section
    split
    title="About OKWireframe"
    lorem={1}
    button={{ text: "Learn More", href: "/about" }}
  >
    <ImagePlaceholder />
  </Section>

  <Section>
    <LandingStats />
  </Section>
  <Section
    inline
    wide
    grid
    class="bg-primary/20"
    title="Recent Events"
    button={{ text: "More Events", href: "/events" }}
  >
    {
      events
        .slice(5, 9)
        .map((event, i) => (
          <EventSummary class={i > 2 ? "lg:hidden xl:block" : undefined} event={event} />
        ))
    }
  </Section>

  <Section
    wide
    title="Community"
    description="Join our vibrant community of tech enthusiasts, professionals, and innovators. Connect with like-minded individuals, share knowledge, and grow together in the ever-evolving tech landscape."
  >
    <MemberAvatars />
  </Section>

  <Hero
    slim
    title="Get Involved"
    description="Ready to be part of something bigger? Whether you want to speak at our events, sponsor our initiatives, or simply join our community, we welcome your participation and ideas."
    button={{ text: "Get Involved", href: "/about#contact" }}
    class="text-lg text-center"
  />
</PageLayout>
