---
import Section from "../components/Section.astro";
import PageLayout from "../layouts/PageLayout.astro";
---

<PageLayout>
  <div class="hero min-h-[70vh] bg-primary-content text-primary">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold">Welcome to OKWireframe</h1>
        <p class="py-6">
          Empowering innovation through technology solutions that drive success and transform
          businesses.
        </p>
        <button class="btn btn-primary">Get Started</button>
      </div>
    </div>
  </div>
  <Section
    title="Events"
    description="We are a team of experienced professionals who are dedicated to providing the best possible solutions to our clients."
  />
  <Section
    title="Community"
    description="We are a team of experienced professionals who are dedicated to providing the best possible solutions to our clients."
  />
  <Section
    title="Call To Action"
    description="We are a team of experienced professionals who are dedicated to providing the best possible solutions to our clients."
  />
</PageLayout>
