---
import PageLayout from "../layouts/PageLayout.astro";
import Section from "../components/Section.astro";
import Container from "../components/Container.astro";
import MemberSummary from "../components/MemberSummary.astro";
import { members, ROLE_CONFIGS, type Role } from "../data";

const membersByRole = Object.entries(ROLE_CONFIGS).map(([role, roleConfig]) => {
  return {
    ...roleConfig,
    members: members.filter((member) => member.roles.includes(role as Role)),
  };
});
---

<PageLayout title="Community">
  <Section inline title="Members" button={{ text: "Switch", href: "/community" }} />
  {
    membersByRole.map(({ plural, description, label, color, icon, members }) => (
      <div>
        <Section title={plural} description={description} inline />
        <Container grid wide>
          {members.map((member) => (
            <div>
              <MemberSummary member={member} />
            </div>
          ))}
        </Container>
      </div>
    ))
  }
</PageLayout>
