---
import Grid from "./Grid.astro";

interface Props {
  class?: string;
  wide?: boolean;
  grid?: boolean;
}

const { class: className, wide = false, grid = false } = Astro.props;
---

<div
  class:list={[
    "mx-auto px-4 sm:px-6 lg:px-8",
    wide ? "w-full max-w-[1800px]" : "w-full max-w-6xl",
    className,
  ]}
>
  {
    grid ? (
      <Grid>
        <slot />
      </Grid>
    ) : (
      <slot />
    )
  }
</div>
