---
// Link.astro: A drop-in replacement for <a> that prepends Astro.base to internal links
const { href = "", ...props } = Astro.props;
const base = import.meta.env.BASE_URL;
// filter out double slashes
const fullPath = `${base}${href}`.split("/").filter(Boolean);
const finalHref = `/${fullPath.join("/")}`;
---

<a href={finalHref} {...props}><slot /></a>
