---
import { SOCIALS } from "../config";
import IconCard from "./IconCard.astro";
---

<div class={`grid grid-cols-2 gap-4 md:grid-cols-4`}>
  {SOCIALS.map((social) => <IconCard {...social} />)}
</div>
