---
import { Icon } from "astro-icon/components";
import { THEMES } from "../config";
---

<div>
  <button class="btn btn-circle" onclick="theme_modal.showModal()">
    <Icon name="lucide:palette" size={18} />
  </button>
  <dialog id="theme_modal" class="modal" data-theme="light">
    <div class="modal-box w-11/12 max-w-5xl">
      <div
        class="grid grid-cols-3 sm:grid-cols-5 md:grid-cols-7 lg:grid-cols-8 rounded-xl overflow-hidden bg-base-300"
      >
        {
          THEMES.map((theme) => (
            <div data-theme={theme} class="p-3 bg-base-100 ">
              <button
                data-set-theme={theme}
                data-act-class="active"
                class="btn btn-primary w-full"
                onclick="theme_modal.close()"
              >
                {theme}
              </button>
            </div>
          ))
        }
      </div>
      <div class="modal-action flex justify-between">
        <a class="btn btn-primary" href="https://daisyui.com/theme-generator" target="_blank"
          >Theme Generator</a
        >
        <form method="dialog">
          <button class="btn">Close</button>
        </form>
      </div>
    </div>
  </dialog>
</div>
