---
import PageLayout from "../../layouts/PageLayout.astro";
import Section from "../../components/Section.astro";
import EventSummary from "../../components/EventSummary.astro";
import { events, type Event } from "../../data";

export function getStaticPaths() {
  return events.map((event) => ({
    params: { event: event.id },
  }));
}

const { event: eventId } = Astro.params;
const event = events.find((e) => e.id === eventId) as Event;
---

<PageLayout title={`Event ${event.title}`}>
  <Section>
    <EventSummary event={event} />
  </Section>
</PageLayout>
