---
import EventSummary from "../../components/EventSummary.astro";
import Section from "../../components/Section.astro";
import PageLayout from "../../layouts/PageLayout.astro";
import Container from "../../components/Container.astro";
import { events } from "../../data";
import Grid from "../../components/Grid.astro";
import EventGallery from "../../components/EventGallery.astro";
import EventFeatured from "../../components/EventFeatured.astro";
---

<PageLayout title="Events">
  <Section inline title="Events Gallery" button={{ text: "Events View", href: "/events" }} />
  {
    events
      .filter((event) => event.gallery && event.gallery.length > 0)
      .map((event) => (
        <div class="flex flex-col gap-2 py-12">
          <Container>
            <EventFeatured event={event} />
          </Container>
          <Container grid wide>
            <EventGallery event={event} />
          </Container>
        </div>
      ))
  }
</PageLayout>
